.text-blue {
  color: #1f3c88;
}

.bg-blue-light {
  background-color: #5379da;
}

.btn-blue {
  background-color: #1f3c88;
  border-color: #1f3c88;
}

.btn-outline-blue {
  border-color: #1f3c88;
  color: #1f3c88;
}
.btn-outline-blue:hover {
  background-color: #1f3c88;
  color: #fff;
}

.bg-success-light {
  background-color: #e6fcf5;
}

/* Form Design */
.custom-input {
  background-color: #f8f9fa;
  border: 1px solid transparent;
  padding: 0.75rem 1.2rem;
  border-radius: 12px;
  font-size: 0.95rem;
}

.custom-input:focus {
  background-color: #fff;
  border-color: #1f3c88;
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #1f3c88;
  border-color: #1f3c88;
}

.rounded-4 {
  border-radius: 1.5rem !important;
}
