.report-date-layout {
  border: #6366f1;
}

.header-content {
  background-color: #f0f2f5;
}

/* Table Design Adjustments */
.table thead th {
  background-color: #f8f9fa;
  font-weight: 700;
  border-top: none;
  font-size: 0.75rem;
  padding: 15px 10px;
}

.bg-primary-subtle {
  background-color: #e7f1ff;
}

.bg-light-hover:hover {
  background-color: #e9ecef;
  cursor: default;
}

/* Force Table Width */
.table-responsive {
  width: 100%;
}
.btn-report {
  background-color: #f4c430;
  color: white;
}
.btn-report:hover {
  background-color: #e3b922;
  color: white;
}
/* Matching your profile page theme */
.text-blue {
  color: #1f3c88;
}
.bg-blue-light {
  background-color: #ffffff;
}
.btn-blue {
  background-color: #1f3c88;
  border: none;
  transition: 0.3s;
}
.btn-blue:hover {
  background-color: #1a3270;
  transform: translateY(-1px);
}

.custom-input {
  background-color: #f8f9fa;
  border-radius: 12px;
  padding: 0.6rem 1rem;
}

.rounded-4 {
  border-radius: 1.25rem !important;
}

/* Sidebar deep styling */
