body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
}

.card {
  border-radius: 12px;
  background: #ffffff;
  max-width: 700px;
  width: 100%;
  height: 50%;
}
.login-btn {
  background-color: #1f3c88;
  color: white;
  border: none;
  border-radius: 8px;
  height: 40px;
}
.login-btn:hover {
  background-color: #16325c;
  color: white;
}
